@import "tailwindcss";
@plugin "daisyui";

body {
  @apply bg-gradient-to-tr from-blue-600 to-blue-900 min-h-screen w-screen text-white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer utilities {
  .glass-strong {
    @apply bg-white/15 dark:bg-white/15
           backdrop-blur-xl
           border border-white/30
           shadow-xl
           ring-1 ring-white/30;
  }
}
